name: Glue Jobs CI/CD

on:
  push:
    branches:
      - main

jobs:
  validate-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      # CI
      - name: Syntax check
        run: |
          python -m py_compile glue_jobs/glue_job_1_bronze_to_silver.py
          python -m py_compile glue_jobs/glue_job_2_silver_to_gold.py

      # CD
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Upload Glue scripts to S3
        run: |
          aws s3 cp glue_jobs/glue_job_1_bronze_to_silver.py s3://end-2-end-bucket-vinay/scripts/glue_job_1_bronze_to_silver.py
          aws s3 cp glue_jobs/glue_job_2_silver_to_gold.py s3://end-2-end-bucket-vinay/scripts/glue_job_2_silver_to_gold.py
